<% content_for :locale_links do  %>
  <p>
    <% I18n.available_locales.each_with_index do |locale, index| %>
      <% if index.zero? %>
        <%= link_to_unless I18n.locale == locale, t("app.locale.#{locale}"), event_path(@event, locale: locale) %>
      <% else %>
        |
        <%= link_to_unless I18n.locale == locale, t("app.locale.#{locale}"), event_path(@event, locale: locale) %>
      <% end %>
    <% end %>
  </p>
<% end %>

<h1><%= t('.title') %></h1>

<%= form_tag('', method: 'post') do %>
  <div class="form-group">
    <%= label t('.label'), :pincode %>
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
  </div>

  <div class="actions">
    <%= submit_tag t('.buttons.check'), class: 'btn btn-primary' %>
  </div>
<% end %>

<div class="buffer-top">
  <%= link_to t('.links.main'), events_path %>
</div>