<%= t '.title' %>
----

<% if Rails.env.production? %>
  <%= image_tag(@photo.photo.url) %>
  <%= link_to image_tag(@photo.photo.url), @photo.photo.url %></p>
<% else %>
  <p><%= image_tag attachments['image.jpg'].url %></p>
<% end %>

<%= t '.author' %>: <%= @photo.user.name %>

--------------------------------
<%= t '.event' %>: <%= @event.title %>
<%= t '.datetime' %>: <%= l @event.datetime %>
<%= t '.owner' %>: <%= @event.user.name %>