<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : 'Barbecue' %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css', media: 'all' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.css', media: 'all' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'https://api-maps.yandex.ru/2.1/?apikey=ee2acc09-6407-4373-a792-3e29f8efb449&lang=ru_RU' %>
    <%= javascript_include_tag 'maps' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.js' %>
    <%= javascript_include_tag 'lightbox2_options' %>
    <%= render 'layouts/js_locales_info' %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <%= link_to t('app.name'), root_path, class: 'navbar-brand' %>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-x" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <%= render partial: 'layouts/user_menu' %>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div>
      <footer class="buffer-top">
        <% if request.request_method == "GET" %>
          <p>
            <%= link_to_unless I18n.locale == :en, t('app.language.english'), locale: :en %>
            |
            <%= link_to_unless I18n.locale == :ru, t('app.language.russian'), locale: :ru %>
          </p>
        <% else %>
          <%= yield(:locale_links) %>
        <% end %>
        <p>&copy; <%= t('app.company') %> <%= Time.now.year %></p>
      </footer>
    </div>
  </body>
</html>
